lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# Build out put
obj

# User files
*.user
*.suo
*.sln.cache
*.vs10x
*.psess
*.docstates
*.userprefs
_ReSharper*

# Test Results
*.results.xml
TestResults

# Other
*.bak
*~
App_Data
[Tt]humbs.db
.DS_Store
